<div class="cuerpoInicio">
    {{nombreUsuario}}
    <h2>Una historia, una nueva aventura</h2>
    <br>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et lectus sodales, finibus velit sollicitudin, imperdiet metus.
        Proin tincidunt eros et odio fermentum, vestibulum vulputate ligula sodales. Proin at tellus ornare lectus luctus accumsan vitae
        condimentum arcu. Aliquam nec cursus arcu. Suspendisse arcu eros, mollis eu elementum quis, congue ac dolor. Morbi risus sem,
        posuere viverra lectus sed, faucibus tempor sapien. Sed et risus justo. Donec id lorem auctor, facilisis nunc ac, maximus quam.
        Aenean molestie et enim sed pharetra. Sed rhoncus suscipit augue eu dignissim. Nunc at fermentum diam, a sodales purus.
        Nam placerat lacus eu velit egestas scelerisque. Aliquam nec ante ante.
        Este juego esta basado en la historia de la ciudad de Huancayo, una ciudad llena de muchos mitos y leyendas sorprendentes.
        Hasta el momento no se ha podido concretar si estos relatos son ciertos, pero las personas creen que no es coincidencia tantas
        cosas sobrenaturales, todo comenzo cuando...
    </p>
    <div class="img1 col-md-6">
        <img src="./img/hyo/paca.jpg" class="img-responsive" alt="Hopi" />
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et lectus sodales, finibus velit sollicitudin, imperdiet metus.
        Proin tincidunt eros et odio fermentum, vestibulum vulputate ligula sodales. Proin at tellus ornare lectus luctus accumsan vitae
        condimentum arcu. Aliquam nec cursus arcu. Suspendisse arcu eros, mollis eu elementum quis, congue ac dolor. Morbi risus sem,
        posuere viverra lectus sed, faucibus tempor sapien. Sed et risus justo. Donec id lorem auctor, facilisis nunc ac, maximus quam.
        Aenean molestie et enim sed pharetra. Sed rhoncus suscipit augue eu dignissim. Nunc at fermentum diam, a sodales purus.
        Nam placerat lacus eu velit egestas scelerisque. Aliquam nec ante ante.
        en esta laguna, la hermosa laguna de paca, se desperto algo inpensable para las personas que habian escuchado sobre
        estas leyendas, las sirenas(1), seres mitologicos visto solo por algunos afortunados, quienes contaban sobre su hermosura,
        aqui nace el primer aullido, nace el panico de las personas, creen que todo esta perdido, pero sin embargo aun esta la esperanza
        en una leyenda, esa leyenda puedes ser tu ...
    </p>
</div>
